body{
  margin:0;
  font-family: Arial, sans-serif;
}

.header{
  display:flex;
  align-items:left;
  background:rgb(199, 224, 207);
  padding:8px 5px;
  color:rgb(226, 10, 10);
  gap:20px;
}
.logo img{
  width: 100px;
}.search{
  display:flex;
  flex:1;
}

.search input{
  width:150%;
  padding:8px;
  border:none;
}

.search button{
  padding:8px 15px;
  background:skyblue;
  border:none;
  cursor:pointer;
}
.menu a{
  color:rgb(7, 7, 7);
  margin-right:15px;
  text-decoration:none;
  font: size 18px;px;
}.icons span{
    color:rgb(7, 7, 7);
  margin-left:15px;
  cursor:pointer;
}
body {
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

/* MAIN PRODUCT SECTION */
.product-section {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.product-card {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* IMAGE */
.product-image img {
  width: 250%;
  border-radius: 10px;
}

/* DETAILS */
.product-details h1 {
  font-size: 20px;
  margin: 10px 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.description {
  font-size: 20px;
  color: black;
  margin: 10px 0;
}

/* BUTTONS */
.buttons {
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

.buy {
  background: green;
  color: white;
}

.cart {
  background: orange;
  color: white;
}
.footer {
  background: #1f2933;
  color: #ffffff;
  margin-top: 60px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}
.footer-box h3 {
  margin-bottom: 15px;
}

.footer-box p,
.footer-box a {
  font-size: 14px;
  color: #ddd;
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
}
.footer-bottom {
  text-align: center;
  padding: 15px;
  background: #111827;
  font-size: 14px;
}
